.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 2px 5px 2px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: rgb(81, 87, 81);
  background-color: rgb(245, 249, 233);
}
