.Navbar {
  border-width: 1em;
  background-color: #ebf5ee;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.navbarLogo {
  color: #170f11;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.navMenu {
  color: white;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  text-decoration: none;
}

.navbarItems {
  color: #170f11
  
}

.navbarItems:hover {
  background-color: #736ced;
  color: #ebf5ee;
}

.search {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  margin-left: 400px;
  border-radius: 40px;
  border-width: 1px;
}

input[type=text]:focus {
  background-color: #ebf5ee;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  border-width: 1px;
  outline: none;
}
